@import '_setting.scss';

.products{
  background-color: $app-bg-color;
  color: $app-color;
  .content-pro{
    width: 90%;
    margin: auto;
    padding: calc(#{$app-padding * 5}) 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 300px 300px;
    .product-container{
      border: 3px solid white;
      margin: 12px;

      .img-product{
        img{
          width: 100px;
        }
      }
      .item{
        display: grid;
      }
    }
  }
  .end{
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
  }
}