@import 'scss/_setting.scss';

.update{
  position: relative;
  width: 100%;
  background-color: $app-bg-color;
  padding-bottom: 50px;
  .table-product{
    background-color: rgb(239, 255, 254);
    width: 70%;
    margin: auto;
    padding-bottom: 12px;
    table{
      width: 100%;
      border-collapse: collapse;
      tr{
        td{
          text-align: center;
          border: 1px solid #bbb;
          padding: 5px;
          img{
            height: 50px;
          }
        }
      }
      .title-pro{
        font-weight: bold;
        height: 60px;
      }
    }
  }
  .submit{
    width: 100%;
    button{
      padding: 5px 15px;
      border: none;
      background-color: aquamarine;
      cursor: pointer;
      border-radius: 5px;
      margin-left: 90%;
      margin: 42px 90% 12px;
      &:hover{
        box-shadow: 2px 2px 3px #bbb;
        background-color: darken(aquamarine, 10);
      }
      &:active{
        transform: translateY(3px);
        box-shadow: none;
      }
    }
  }
  .popup-data{
    display: none;
    position: absolute;
    width: 60%;
    background-color: rgb(255, 255, 255);
    transform: translate(30%, -150%);
    padding: 24px;
    box-shadow: 0 0 5px #bbb;
    .re-uploaded{
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      span{
        font-weight: bold;
      }
      img{
        width: 15px;
        height: 15px;
        cursor: pointer;
        padding: 5px;
        background-color: bisque;
        &:hover{
          transform: translateY(-2px);
          box-shadow: 2px 2px 3px #bbb;
        }
        &:active{
          transform: translateY(2px);
          box-shadow: none;
        }
      }
    }
    .content-uploaded{
      display: flex;
      .img-sp{
        flex: 40%;
        background-color: pink;
      }
      .information{
        margin-left: 24px;
        flex: 60%
      }
    }
  }
  button[id=ok]{
    float: right;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: aquamarine;
    &:hover{
      background-color: aqua;
      transition: 0.2s;
      box-shadow: 2px 2px 3px #bbb;
      transform: translateY(-3px);
    }
    &:active{
      transform: translateY(3px);
      box-shadow: none;
    }
  }
}