@import 'scss/_setting.scss';

.update{
  
  width: 100%;
  background-color: $app-bg-color;
  padding-bottom: 50px;
  .table-product{
    background-color: rgb(239, 255, 254);
    width: 70%;
    margin: auto;
    padding-bottom: 12px;
    table{
      width: 100%;
      border-collapse: collapse;
      tr{
        td{
          text-align: center;
          border: 1px solid #bbb;
          padding: 5px;
          img{
            height: 50px;
          }
        }
      }
      .title-pro{
        font-weight: bold;
        height: 60px;
      }
    }
  }
  .submit{
    width: 100%;
    
    button{
      padding: 5px 15px;
      border: none;
      background-color: aquamarine;
      cursor: pointer;
      border-radius: 5px;
      margin: 42px 82% 12px;
      &:hover{
        box-shadow: 2px 2px 3px #bbb;
        background-color: darken(aquamarine, 10);
      }
      &:active{
        transform: translateY(3px);
        box-shadow: none;
      }
    }
  }
  
  button[id=ok]{
    float: right;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: aquamarine;
    &:hover{
      background-color: aqua;
      transition: 0.2s;
      box-shadow: 2px 2px 3px #bbb;
      transform: translateY(-3px);
    }
    &:active{
      transform: translateY(3px);
      box-shadow: none;
    }
  }
}