@import 'scss/_setting.scss';

.products{
  background-color: $app-bg-color;
  color: $app-color;
  padding: $app-padding 0;
  .edit-pro{
    width: 80%;
    text-align: right;
    margin-bottom: 25px;
    margin: 0 auto 24px;
    a{
      text-decoration: none;
      padding: 5px 15px;
      background-color: white;
      color: #333;
      border-radius: 8px;
      background-color: aquamarine;
      box-shadow: 5px 3px 3px rgb(116, 116, 116);
      &:hover{
        background-color: darken(aquamarine, 15) ;
        color: black;
      }
    }
  }
  .content-pro{
    width: 75%;
    margin: auto;
    background-color: $app-bg-color;
    border-radius: 12px;
    .product-container{
      box-shadow: 0 0 8px #bbb;
      margin: 12px;
      background-color: white;
      border-radius: 12px;
      padding: 12px;
      cursor: pointer;
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      .pro{
        box-shadow: 0 0 3px #bbb;
        margin: 12px;
        padding: 12px;
        border-radius: 8px;
        &:hover{
          transform: scale(1.05);
          transition: 0.2s;
          box-shadow: 0 0 5px rgb(148, 132, 132);
        }
        .img-product{
          display: flex;
          justify-content: center;
          img{
            width: 100%;
          }
        }
        .item{
          display: grid;
          h3{
            font-size: 16px;
          }
          span{
            font-size: 12px;
          }
        }
      }
      
    }
  }
  .end{
    text-align: center;
    padding: 30px;
    font-size: 32px;
  }
}